<!-- Right panel starts-->
<div class="right-panel col-11">
  <div class=" col-9">
    <canvas id="myChart"></canvas>
  </div>
</div>

<script>
  function createPieChart(labels, revenue, orderCount) {
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      data: {
        datasets: [{
          type: 'bar',
          label: 'Revenue',
          data: revenue
        }, {
          type: 'line',
          label: 'Total Orders',
          data: orderCount,
        }],
        labels: labels
      }
    });
  }

  function convertToDate(date) {
    return date.split(':')[0].split('T')[0]
  }

  function processOrderData(orders) {
    const groupedOrdered = {};
    orders.forEach(order => {
      const dateKey = convertToDate(order.orderDate);
      if (groupedOrdered[dateKey]) {
        groupedOrdered[dateKey].total += order.total;
        groupedOrdered[dateKey].count++;
      } else {
        groupedOrdered[dateKey] = { total: order.total, count: 1 };
      }
    });

    const orderLabels = Object.keys(groupedOrdered);
    const orderRevenue = orderLabels.map(date => groupedOrdered[date].total);
    const orderCount = orderLabels.map(date => groupedOrdered[date].count);


    createPieChart(orderLabels, orderRevenue, orderCount);
  }
  fetch('/api/orders')
    .then(response => {
      if (!response.ok) {
        throw new Error(`Network response was not ok: ${response.statusText}`);
      }
      return response.json();
    })
    .then(orders => {
      processOrderData(orders); // Assuming processOrderData is defined
      
    })
    .catch(error => console.error('Error fetching orders:', error));
</script>