
      <!-- Right panel starts-->
      <div class="right-panel col-11">
            <div class="box-shadow ">
             <canvas id="myChart"></canvas>
     </div>  
      </div>

  <script>

  </script>