

      <div class="right-panel col-11">

        <!-- Categories and product section starts-->
        <div class="left-section col-8 ">
          <div class="order-date">
            <h2 class="order-number">Choose Product</h2>
            <span class="date-section" id="current-date-time"></span>
          </div>
          <!-- Search section starts-->
          <div class="search">
            <form class="form-inline my-2 my-lg-0" id="product-search-form">
              <label></label>
              <input class="form-control mr-sm-2" id="product-search" type="search" placeholder="Enter item"
                aria-label="Search">
            </form>
          </div>

          <!-- Search section ends-->
          <!-- Categories  section starts-->

          <div id="carouselExampleIndicators" class="carousel slide categories-section" data-ride="carousel">
            <ol class="carousel-indicators">
              <!-- Indicators will be generated dynamically by JavaScript -->
            </ol>
            <div class="carousel-inner">

              <!-- Categories will be added here dynamically by JavaScript -->
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>


          <!-- <div class="categories-section ">

                <div class="category active col-3">
                 <span>Vegetables</span>
                </div>

                <div class="category col-3">
                  <span>Fresh fruits</span>
                </div>
                <div class="category col-3">
                  <span>Can food </span>
                </div>
                <div class="loadmore col-3">
                 <button><span>...</span></button>
                </div>
               </div> -->

          <!-- Categories  section ends-->
          <div class="product-section row" id="product-container">

            <!---render and search the product dynamic-->

          </div>
        </div>
        <!-- Categories and product section ends-->
        <!-- CheckOut section starts-->
        <div class="right-section  col-4 col-4">

          <div class="checkout-section col-12 col-12">
            <i class="bi bi-x"></i>

            <div class="product-display-section">

              <!--append the cart item--->

            </div>


            <div class="Total-price">
              <p>SubTotal <span class="subtotal">$0.00</span></p>
              <p>Tax <span class="tax">$0.00</span></p>
              <p><b>Total </b><span class="total"><b>$0.00</b></span></p>



              <button type="button" class="btn btn-secondary checkout-button" id="checkoutBtn">Check Out</button>

            </div>

          </div>
        </div>
      </div>

      <!-- CheckOut section ends-->
    </div>
    <!--Right panel starts-->

    <!---checkout popup starts--->
    <div id="checkout-popup" class="checkoutPopup">
      <div class="checkout-content">
        <span class="close">&times;</span>
        <h2>Checkout Order #3484</h2>
        <h1>Amount to Pay:<b class="amount-total"> $0.00</b></h1>

        <p>Cashier: Brenda</p>
        <p>Paying as customer: Guest</p>

        <div class="coupon-section">
          <label for="coupon-code">coupon Code:</label>
          <input type="text" id="coupon-code" class=" form-control" placeholder="Enter your coupon code here" min="4"
            max="100">
          <button id="apply-coupon">Apply</button>
        </div>

        <table id="checkout-table" class="table">
          <thead>
            <tr>
              <th scope="col">index</th>
              <th scope="col">Product</th>
              <th scope="col">Qty</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
          <tfoot>
            <tr>
              <th scope="row" colspan="3">Subtotal:</th>
              <td class="product-total"><span class="checkout-subtotal"><b>$0.00</b></span></td>
            </tr>
            <tr>
              <th scope="row" colspan="3">Tax:</th>
              <td class="product-total"><span class="checkout-tax"><b>$0.00</b></span></td>
            </tr>

            <tr>
              <th scope="row" colspan="3">Total:</th>
              <td class="product-total"><span class="checkout-total"><b>$0.00</b></span></td>
            </tr>

          </tfoot>
        </table>

        <button type="button" class="btn btn-primary" id="paymentBtn">Process payment</button>
        <button type="button" class="btn btn-light print-button">Print Receipt</button>
      </div>
    </div>

    <!---checkout popup end--->

    <!--payment popup starts--->
    <div id="payment-popup" class="checkoutPopup">
      <div class="payment-content">
        <span class="payment-close">&times;</span>
        <h2>Payment</h2>
      </div>
    </div>

    <!--payment popup end--->
    </div>

