<div class="right-panel setting col-11">
<div class="setting-inner-container col-11 show-panel">


<div class="setting-menu setting-buttons col-1 ">
<button data-id="user" class="button">Users</button>
  <button data-id="store" class="button">Store</button>
 </div>
<div class="setting-content col-11 p-4 ">

   <div class="panel show" id="user">
 

          <h3>Add user</h3>
         <form class="form-horizontal col-7" action="/signup" method="POST">
                    
                        <!-- Display validation errors here -->
                       {{#if errorMessage}}
                        <p class="error">{{errorMessage}}</p>
                      {{/if}}
                        {{#if successMessage}}
                        <p class="success">{{successMessage}}</p>
                      {{/if}}
                    <div class="form-group">
                            <span class="input-icon"><i class="fa fa-user"></i></span>
                           <input type="text" class="form-control" name="username" placeholder="Username"  />
                           
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-envelope"></i></span>
                           <input type="email" class="form-control" name="email" placeholder="Email"  />
                           
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-lock"></i></span>
                           <input type="password" class="form-control" name="password" placeholder="Password"  />
                            
                        </div>
                       
           <div class="first-name">
            <div class="form-group  col-5">
              <div class="input_field"> <span class="input-icon"><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="firstName" placeholder="First Name"  />
              </div>
            </div>
           
            <div class="form-group col-5">
              <div class="input_field"> <span class="input-icon"><i aria-hidden="true" class="fa fa-user"></i></span>
                <input type="text" class="form-control" name="lastName" placeholder="Last Name"  />
              </div>
            </div>
         </div>

          <div class="form-group col-12" id="gender">
          <div class="radio-option d-flex">
              <input  type="radio" name="gender" value ="Male" id="rd1">
              <label  for="rd1">Male</label>
              <input  type="radio" name="gender" value ="Female" id="rd2">
              <label for="rd2">Female</label>
              <input  type="radio" name="gender" value ="No-gender" id="rd3">
              <label for="rd2">No gender</label>
              </div>
         </div>
       
           <div class="form-group col-5">
             <span class="input-icon "><i class="fa fa-phone "></i></span>
            <input type="number" class="form-control" name="phoneNumber" placeholder="phoneNumber"  />
                            
            </div>
          

      
          <div class="mt-4 col-5 select-div">
          
            <select class="custom-select form-select col-8" aria-label="Default select example" name="role">
              {{#if user.isAdmin}}
               <option selected value="Customer">Customer</option>
                <option value="Cashier">Cashier</option>
            {{else}}
        <option selected value="Customer">Customer</option>

        {{/if}}
          
            </select>

          </div>

            <div class="col-5 ">
            <button type="submit" class="btn btn-primary update-btn">Create user</button>
            </div>
            </form>
  
    

  </div>
  
 <div class="panel" id="store">

        <h3>Choose Your Store</h3>
<!-- setting.hbs -->
<form id="store-form" action="/store-address" method="POST">
  <div class="form-row align-items-center m-50">

    <label class="form-label">Store address 1</label>
    <input class="form-control" type="text" name="addressLine1" placeholder="Store Address 1" aria-label="Store Address 1" />

    <label class="form-label">Store address 2</label>
    <input class="form-control" type="text" name="addressLine2" placeholder="Store Address 2" aria-label="Store Address 2" />

    <label class="form-label">Pincode</label>
    <input class="form-control" type="text" name="pincode" placeholder="Pincode" aria-label="Pincode" />

    <label class="form-label">Country</label>
    <input class="form-control" type="text" name="country" placeholder="Country" aria-label="Country" />

    <label class="form-label">State</label>
    <input class="form-control" type="text" name="state" placeholder="State" aria-label="State" />

    <div class="col-2">
      <button type="submit" class="btn btn-primary update-btn">Update</button>
    </div>
  </div>
</form>


  </div>


 



</div>
</div>
</div>