<div class="right-panel col-11">
  <div class="add-panel p-4 col-7" id="category">
    <h3>Add category</h3>
      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
       
         {{#if successMessage}}
        <p class="success">{{successMessage}}</p>
        {{/if}}
    <form action="/category/add-category" method="post" enctype="multipart/form-data">

      <div class="category">

        <label class="form-label">Category Name</label>
        <input class="form-control" type="text" placeholder="Enter Product name" aria-label="product name"
          name="categoryName" />

        <label class="form-label">Parent Category</label>
        <select class="custom-select form-select" aria-label="Default select example" name="parentCategory">
          <option value="" selected>Select Parent Category</option>
          {{#each categoryList}}
          <option value="{{this._id}}">{{this.categoryName}}</option>
          {{/each}}
        </select>

        <div class="upload-image col-8">
          <img class="col-2" src="/images/upload.png" />
          <label for="inputField" class="btn btn-orange upload-btn">Upload image</label>
          <input class="col-4 upload-btn" type="file" id="inputField" style="display:none" name="image"
            accept="image/*" />

        </div>

        <div class="col-5">
          <button type="submit" class="btn btn-secondary violet-btn mt-5">Add category</button>
        </div>

      </div>
    </form>
  </div>

</div>