<div class="right-panel col-11">
  <div class="add-panel box-shadow p-4 col-4" id="category">
    <h3>Add New category</h3>
    {{#if errors}}
    <div class="alert alert-danger">
      <ul>
        {{#each errors}}
        <li>{{this.msg}}</li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
    <form action="/category/add-category" method="post" enctype="multipart/form-data">

      <div class="category">

        <label class="form-label">Category Name</label>
        <input class="form-control" type="text" placeholder="Enter Product name" aria-label="product name"
          name="categoryName" />

        <label class="form-label">Parent Category</label>
        <select class="custom-select form-select" aria-label="Default select example" name="parentCategory">
          <option value="" selected>Select Parent Category</option>
          {{#each categoryList}}
          <option value="{{this._id}}">{{this.categoryName}}</option>
          {{/each}}
        </select>

        <div class="upload-image col-3">
          <img class="col-3" src="/images/upload.png" />
          <label for="inputField" class="btn btn-orange upload-btn">Upload image</label>
          <input class="col-5 upload-btn" type="file" id="inputField" style="display:none" name="image"
            accept="image/*" />

        </div>

        <div class="col-3">
          <button type="submit" class="btn btn-primary btn-blue">Add new category</button>
        </div>

      </div>
    </form>
  </div>

</div>