

<div class="right-panel col-lg-11 col-md-11">
 

  <div class="show-panel" id="product">

    <div class="table-responsive">
     
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8">
              <h2>Product Details</h2>
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i>
                <a href="/product/add-product" >Add New</a></button>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Image</th>
              <th>Name</th>
              <th>Price</th>
              <th>quan</th>

              <th>Category</th>
              <th>Stock</th>
              <th class="column-wider">Desc</th>
              <th>Actions</th>

            </tr>
          </thead>
          <tbody>
            
          </tbody>
      
        </table>
      
    </div>
  </div>

</div>



</div>
</main>
